@font-face {
  font-family: "averta";
  src:  url(assets/fonts/averta/AvertaStd-Regular.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "averta";
  src: url(assets/fonts/averta/AvertaStd-Semibold.ttf);
  font-weight: 600;
  font-style: bold;
}

@font-face {
  font-family: "averta";
  src:  url(assets/fonts/averta/AvertaStd-Light.ttf);
  font-weight: 400;
  font-style: normal;
}



@font-face {
  font-family: "sourceSerif";
  src:  url(assets/fonts/source-serif-pro/SourceSerifPro-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}



body {
  font-family: 'averta';
}